<% form_for @list, '/lists' do |f| %>
  <div class='split-fields'>
    <div class='field'>
      <%= f.text_field :name, :placeholder => 'Name', :label => false %>
    </div>
    <div class='button'>
      <%= f.submit 'Add List' %>
    </div>
  </div>
<% end %>
